* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0 90px;
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
    font-size: 22px;
}

a {
    text-decoration: underline;
    color: skyblue;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/initrode-wp-digital.jpg) center center;
    background-size: cover;
    background-attachment: fixed;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    html, body {
        padding: 0 45px;
        font-size: 18px;
        font-family: Orbitron, sans-serif;
    }
}

@media screen and (max-width: 480px) {
    html, body {
        padding: 0 20px;
        font-size: 16px;
        font-family: Orbitron, sans-serif;
    }
}